{% extends "./base.html" %}

{% block title %}
Главная - MyTube
{% endblock title %}

{% block content %}
<h1>MyTube - Добро пожаловать!</h1>
<ul class="video-list">
{% for v in videos %}
    <li class="video-list item">
        <h2><a href="{% url 'video' v.id %}">{{v.name}}</a></h2>
        <<p>{{v.description}}</p>
        <p><strong>Дата загрузки</strong> {{v.created_datetime}}</p>
        <p> Like <strong>({{v.likes}})</strong></p>
        <p> DisLike <strong>({{{].dislikes}}})</strong></p>
    </li>
{% empty %}
    <li>Технические шоколадки, видео скоро появится =D</li>
{% endfor %}
</ul>
{% endblock content %}