(% extends "video/base.html" %)

(% block title %}
    Вход в систему - MyTube
{% endblock title %}

(% block content %}
    <h2>Вход в систему</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
{% endblock content %}